# Virtual Environment
venv/
.venv/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Large Datasets and Caches (Ignore huge files, track only app dependencies)
data/*
!data/berlin_mitte_drive.graphml
!data/best_xgb_model.pkl
!data/best_rf_model.pkl
!data/processed/
data/processed/*
!data/processed/feature_list.txt
!data/processed/model_evaluation_metrics.csv
!data/processed/feature_importances.png
cache/

# OS Files
.DS_Store
Thumbs.db
